/* FOOTER */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* 100% высоты окна */
}

main {
    flex: 1; /* заставляет main занимать всё доступное пространство */
}

footer {
    margin-top: auto;
    background: linear-gradient(135deg, #1d2636, #2c3e50);
    color: #ccc;
    padding: 1rem 2rem;
}

.footer-content {
    display: flex;
    justify-content: center; /* Центрируем по горизонтали */
    align-items: center;     /* Центрируем по вертикали */
    gap: 0.5rem;             /* Расстояние между текстом и иконками */
    flex-wrap: wrap;         /* Чтобы не ломалось на маленьком экране */
    text-align: center;
}

footer.home-footer {
    background-color: #333;
}

footer .social-icons {
    display: flex;
    gap: 1rem;
}

footer .social-icons a {
    color: #ccc;
    font-size: 1.5rem;
    transition: color 0.3s ease;
    text-decoration: none;
}

footer .social-icons a:hover {
    color: #ffcc00;
}
