/* HTML, BODY*/
html, body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #1d2636, #2c3e50);
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 16px;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: linear-gradient(135deg, #1d2636, #2c3e50);
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 100vw;
    overflow: hidden;
    flex-shrink: 0;
}
header h1 {
    margin: 0;
    font-size: 4rem;
}
nav ul {
    display: flex;
    list-style: none;
    margin-right: 40px;
    padding: 0;
}
nav ul li {
    margin-left: 20px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 2rem;
    transition: color 0.3s;
}
nav ul li a:hover {
    color: #61dafb;
}
nav a.active {
    border-bottom: 2px solid gold;
    color: gold;
}

/* LOGO */
.header-title {
    display: flex;
    align-items: center;
    gap: 20px;
}
.checkers_logo {
    max-width: 80px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* HOME */
.home {
    font-size: 24px;
    text-align: center;
    margin-top: 200px;
}
.home a {
    text-decoration: none;
    color: #555555;
    margin: 50px auto;
    padding: 20px;
    background-color: #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: inline-block;
    font-size: 48px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
}
.home a:hover {
    transform: scale(1.05);
}

/* HOME PAGE */
.homePage {
    text-align: center;
    padding: 50px;
    background: linear-gradient(135deg, #d4d4d4, #c0c0c0);
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 800px;
    margin: 10vh auto;
}
.homePage h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}
.homePage p {
    font-size: 1.5rem;
    color: #555;
    margin-bottom: 30px;

}
.homePage button {
    padding: 14px 28px;
    font-size: 1.25rem;
    font-weight: bold;
    color: white;
    background-color: #555;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}
.homePage button:hover {
    background-color: #1e90ff;
    transform: scale(1.05);
}
.homePage a {
    text-decoration: none;
    color: #eee;
}

.game-modal {
    display: flex;
    position: fixed;
    z-index: 1000;
    inset: 0;
    background-color: rgba(0,0,0,0.75);
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(2px);
}

.game-modal .game-modal-content {
    background-color: #1d2636;
    padding: 20px;
    border-radius: 10px;
    /*width: 90%;*/
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
    text-align: center;
    color: #ddd;
}

/* FOOTER */
footer {
    background: linear-gradient(135deg, #1d2636, #2c3e50);
    color: #ccc;
    padding: 1rem 2rem;
}

.footer-content {
    display: flex;
    justify-content: center; /* Центрируем по горизонтали */
    align-items: center;     /* Центрируем по вертикали */
    gap: 0.5rem;             /* Расстояние между текстом и иконками */
    flex-wrap: wrap;         /* Чтобы не ломалось на маленьком экране */
    text-align: center;
}

footer.home-footer {
    background-color: #333;
}

footer .social-icons {
    display: flex;
    gap: 1rem;
}

footer .social-icons a {
    color: #ccc;
    font-size: 1.5rem;
    transition: color 0.3s ease;
    text-decoration: none;
}

footer .social-icons a:hover {
    color: #ffcc00;
}

@media (max-width: 1440px) {
    /* HEADER */
    header h1 {
        font-size: 3rem;
    }
    nav ul li a {
        font-size: 1.5rem;
    }
    .homePage h2 {
        font-size: 1.8rem;
    }
    .homePage p {
        font-size: 1.2rem;
    }
    .homePage button {
        font-size: 1.2rem;
    }

    /* FOOTER */
    .footer {
        padding: 0.8rem 2rem;
    }
    footer .social-icons a {
        font-size: 1.2rem;
    }
}